* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
  background-color:  hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.card{
    width: 21rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.05);
    position: relative;

}
.card> * {
    margin-bottom: 1rem;
}img{
  max-width: 100%;
  border-radius: inherit;

}

.description {
    padding: 0 0.75rem;
    color: hsl(220, 15%, 55%);
    margin-bottom: 1.5rem;
}

.title {
    color: hsl(218, 44%, 22%);
    font-size: 1.45rem;
}
